@import "default.rasi"

configuration {
    modi:                "drun,calc";
    show-icons:          true;
    drun-display-format: "{name}";
    font:                "Geist 13";
}

mainbox {
    children: [ "inputbar", "listview", "mode-switcher" ];
}

listview {
    columns: 1;
    lines:   6;
}
