@import "default.rasi"

configuration {
    modi:                "drun";
    show-icons:          false;
    drun-display-format: "{name}";
    font:                "Geist 13";
}

mainbox {
    children: [ "inputbar", "textbox-help", "listview" ];
    spacing:  10px;
}

inputbar {
    children:        [ "dummy", "entry", "dummy" ];
    padding:         56px 16px;
    border-radius:   12px;
    background-color: transparent;
    background-image: url("~/.current_wallpaper", width);
}

dummy {
    background-color: transparent;
}

entry {
    border-radius:    12px;
    background-color: black / 48%;
    text-color:       @text;
    padding:          14px;
}

textbox-help {
    expand:          false;
    content:         "[CTRL DEL]  Delete   [ALT DEL]  Wipe";
    padding:         6px 12px;
    border-radius:   999px;
    background-color: @shade-bg;
    text-color:      @text;
}

listview {
    columns:   2;
    lines:     6;
    scrollbar: true;
    spacing:   8px;
}

element {
    padding:       6px 10px;
    border-radius: 8px;
}

element-text {
    horizontal-align: 0;
}
