@import "default.rasi"

configuration {
    modi:                "drun";
    show-icons:          true;
    hover-select:        true;
    drun-display-format: "{name}";
    font:                "Geist 13";
}

window {
    width: 960px;
}

mainbox {
    children: [ "listview" ];
}

listview {
    columns:      4;
    lines:        4;
    fixed-columns: true;
    spacing:      8px;
}

element {
    padding:       0;
    border-radius: 12px;
    orientation:   vertical;
    spacing:       6px;
}

element-icon {
    size: 160px;
}
