@import "mocha.css";

* {
    font-family: "Geist", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: alpha(@crust, 0);
    color: @text;
    font-family: Geist, feather;
    transition: background-color .5s;
}

.modules-left,
.modules-right
{
    background: alpha(@base, 0.8);
    margin: 5px 10px;
    padding: 0 5px;
    border-radius: 15px;
}
.modules-left {
    padding: 0;
    padding-right: 1px
}
.modules-center {
    padding: 0 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
    padding: 0 10px;
    border-radius: 15px;
}

#custom-power{
    border-radius: 15px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#custom-power:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
    background: alpha(@surface0 ,0.7);
}


#workspaces button {
  background: transparent;
  font-family: Geist, feather;
  font-weight: 600;
  color: @text;
  border:none;
  border-radius: 15px;
}

#workspaces button.active {
    background: @surface1; 
}

#workspaces button:hover {
  background: @surface0;
  color: @subtext1;
  box-shadow: none;
}

#custom-arch {
    margin-left: 5px;
    padding: 0 10px;
    font-size: 20px;
    transition: color .5s;
}
#custom-arch:hover {
    color: #1793d1;
}

#custom-power{
    font-size: 20px;
    transition: color .5s;
}
